{% extends 'common/base.html' %}

{% block content %}
    {% load static %}

        
        

       <div class="card text-center">
        <div class="card-header">
            About
        </div>
                <div class="card-body">
                Here at YourSocialTools.com, we provide social media services for business and individuals.
                we provide various tools to analyze social media profiles so that progress can be monitored for growing 
                socially. we respect privacy of our users , we don't give any kind of information to other third party sites.
               
                </div>
                
        </div>
        
     </br> &#9755; Social Media Marketing </br> <hr/>
               &#9755; Search Engine Optimization</br> <hr/>
                &#9755; Tools to analyze profiles.</br> <hr/>
                &#9755; Monitoring of Profiles.</br> <hr/>



{% endblock %}